a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


body {
    padding: 10px;
}
.comment {
    margin: 10px 0px;  
}

.comment-header {
    padding-left: 5px; 
    font-weight: bold;
}
.comment-body {
    padding-left: 15px; 
}

.comment-form {
    margin-top: 5px; 
}

#new-bid-input {
    width: 15%;
    margin-bottom: 5px; 
}
.container {
    margin-left: 10px; 
}

.listing-stats {
    margin-top: 10px; 
}

/* auction flex container */
.auction-item {
    margin-top: 10px; 
    display: flex; 
    border: solid 1px;
    border-color: #a8a2a2;
    border-radius: 10px; 
    padding: 10px; 
    width: 60%; 
}

.auction-anchor :hover {
    text-decoration: none;
    background-color: #e6e5e5;
}


img {
    max-width: 400px;
}


.auction-item-photo { 
    border-radius: 10px;
    width: inherit;
    height: auto;
    
}

.auction-item-body {
    margin: 10px; 
    padding: 10px; 
}
.item-description {
    margin-top: 10px;
    
}
.listing-title {
    display: block; 
}