{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    <div class="index-filters">
        <datalist></datalist>
    </div>

    {% for auction in auctions %}
    <a href="{% url 'view_listing' pk=auction.id  %}" class="auction-anchor">
    <div class="auction-item">
        <div class="auction-item-photo-container">
            <img class="auction-item-photo"src="{{ auction.image_url}}">
        </div>
        <div class="auction-item-body">
            <h4>{{ auction.item_title }}</h4>
            <h5>Price: £ <span>{{ auction.highest_bid}}</span></h5>
            <h5>Bids: {{ auction.bid_count }}</h5>
        </div>
    </div>
    </a>
    {% endfor %}

{% endblock %}